/*colocar borda no meio para dividir em duas colunas*/

body {
    background-color: lightgrey;
    text-align: center;
    margin: 2%;
    min-height: 100vh;
}

main {
    display: inline-block;
    padding: 15px;
    position: relative;
}

h1 {
    font-size:  24px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

legend {
    font-size: 2rem;
}

#pkmLevel {
    width: 5rem;
    height: 3rem;
}

.pokemon_gif {
    position: absolute;
    left: 0;
}

#escolha_pkm, #pkmLevel {
    text-align: center;
    font-weight:bold ;
    font-size: 2rem;
}

#arena {
    max-width: 960px;
    width: auto;
    height: auto;
}

/*.forma {
    font-size: ;
    margin: ;
}

.status {
    font-size: ;
    margin: ;
}*/

table, th, td {
    text-align: center;
    border: 1px solid black;
    padding: 3px;
}

thead, tbody {
    font-weight: bold;
}